.ButtonLink{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ButtonLink span{
    content: '';
    width: 191px;
    border-bottom: 1px solid #E6E6E6;
}

.ButtonLink-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    color: #172882;
}


.ButtonLink-link p:hover{
    background: linear-gradient(86.12deg, #8D5FF5 4.44%, #53B6E6 96.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}